button{
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
}

.form__btn{
    border-radius: 50%;
    width: calc(50px - 10px);
    height: calc(50px - 10px);
    margin-left: 0.7rem;
    padding: 0.2rem 0.375rem;
    font-weight: 900;
    font-size: 1.5rem;
    color:  #ffffff;
    background-color: #22b380;
    box-shadow:0px 2px 3px 2px rgb(173, 173, 173);
}

.form__btn:hover {
    background-color: #174536;
    transition: 500ms ease-out;
}

.btn__search{
    transition: transform 500ms ease-out;
}

.btn__search:is(:hover, :focus){
    outline: none;
    transform: rotate(1turn);
    box-shadow: 0 0 10px rgba(24, 24, 24, 0.65);
}